.conocimiento{
    position: absolute;
    width: 685px;
    height: 191px;
    left: 32px;
    top: 351px;
    background: #00337C;
}
.tituloConocimiento{
    position: absolute;
    width: 658px;
    height: 53px;
    left: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    
    color: #ffffff;
    
}
.textoConocimiento{
    position: absolute;
    width: 678px;
    height: 105px;
    left: 2px;    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;  
    color: #ffffff;
    top: 70px;
}
