.datosPersonalesAzul{
    position: absolute;
    width: 446px;
    height: 154px;
    left: 497px;
    top: 581px;
    
    background: #00337C;
}
.tituloDatosPersonales{
    position: absolute;
    width: 446px;
    height: 26px;

  

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #ffffff;
}
.datosPersonalesLista{
    position: absolute;
    width: 437px;
    height: 16px;
    top: 45px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    
    color: #ffffff;
}