.contenedorHabilidades{
    position: absolute;
    width: 911px;
    height: 165px;
    left: 497px;
    top: 778px;
    
    background: #13005A;
}
.tituloHabilidades{
    position: absolute;
    width: 911px;
    height: 46px;
    top: 0px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    
    color: #ffffff;
}
.textoHabilidades{
    position: absolute;
    width: 911px;
    height: 91px;
    top: 65px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
    color: #ffffff;
}