.headerVerde{
    position: absolute;
    width: 1375px;
    height: 275px;
    left: 32px;
    top: -5px;
    background: #03C988;
}
.titulo{
    position: absolute;
    width: 678px;
    height: 53px;
    left: 32px;
    top: 89px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #00337C;
}
.subtitulo{
    position: absolute;
    width: 678px;
    height: 28px;
    left: 32px;
    top: 148px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #13005A;
}
.darioImg{
    position: absolute;
    width: 212px;
    height: 216px;
    left: 963px;
    top: 24px;
    
    background: url(dario.png);
}