.imagenDario{
    position: absolute;
    width: 212px;
    height: 216px;
    left: 963px;
    top: 50px;
    
    background: url(dario.png);
}
.imagenLenguaje{
    position: absolute;
    width: 678px;
    height: 191px;
    left: 730px;
    top: 351px;
    
    background: url(lenguaje.png);
}
.imagenCeroUno{
    position: absolute;
    width: 445px;
    height: 372px;
    left: 32px;
    top: 571px;
    
    background: url(ceroUno.png);
}