.textoCarta{
    position: absolute;
    width: 638px;
    height: 105px;
    left: 12px;
    top: 410px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    text-align: justify;
    
    color: #FFFFFF;
}
.textoCartaDatosPersonales{
    position: absolute;
    width: 437px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    top: 20px;
    
    color: #ffffff;
}
.textoRedesSociales{
    position: absolute;
    width: 445px;
    height: 16px;    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    top: 40px;
    
    color: #ffffff;
}
.textoCartaHabilidad{
    position: absolute;
    width: 911px;
    height: 91px;  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    text-align: justify;
    top: 47px;
    
    color: #FFFFFF;
}
.subTitulo{
    position: absolute;
    width: 678px;
    height: 28px;
    left: 122px;
    top: 168px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    
    color: #13005A;
}